* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
}
/* header */
.header {
  height: 56px;
}
.header .wrapper .logo {
  display: block;
  height: 56px;
  width: 89px;
  background-image: url(../images/logo-ss.png);
}
@media (max-width: 768px) {
  .carousel .carousel-item {
    margin-top: 70px;
    height: 250px;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-item {
    margin-top: 30px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .carousel .carousel-item {
    margin-top: 50px;
    height: 500px;
  }
}
.carousel .carousel-item {
  background-size: cover;
  background-position: center 0;
}
.carousel .carousel-item:nth-child(1) {
  background-image: url(../images/about-bg-1.jpg);
}
.carousel .carousel-item:nth-child(2) {
  background-image: url(../images/about-bg2.jpg);
}
.carousel .carousel-item:nth-child(3) {
  background-image: url(../images/bg-header.jpg);
}
.carousel .carousel-item:nth-child(4) {
  background-image: url(../images/bg-section01.jpg);
}
.coverpic {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 10px 10px 15px grey;
  z-index: 10000;
}
@media (min-width: 768px) {
  .coverpic {
    width: 700px;
    height: 350px;
    background-image: url(../images/cover.jpg);
  }
}
@media (max-width: 768px) {
  .coverpic {
    width: 360px;
    height: 600px;
    background-image: url(../images/stars.png);
  }
}
.cover {
  position: relative;
}
.cover .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.project {
  margin-top: 60px;
  text-align: center;
}
.project .row div {
  margin-top: 10px;
  height: 200px;
}
.project .row div a {
  display: block;
  height: 200px;
  border-radius: 4px;
}
.project .row div:nth-child(1) a {
  background-color: #14b3cc;
}
.project .row div:nth-child(2) a {
  background-color: darkcyan;
}
.project .row div:nth-child(3) a {
  background-color: sandybrown;
}
.project .row div:nth-child(4) a {
  background-color: indigo;
}
