* {
  margin: 0 ;
  padding: 0 ;
  color: #333;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}
/* header */
.header {
  padding: 0 6%;
  height: 65px;
  background-color: #fff;
}
.header .section {
  flex-wrap: nowrap;
}
.header .section .list-s {
  float: left;
  padding: 0;
  line-height: 65px;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  outline: none !important;
}
.header .section .bi-list {
  color: #636060;
  font-size: 1.4rem;
  outline: none !important;
}
.header .section button {
  outline: none !important;
}
.header .section .logobtn {
  display: block;
  width: 100%;
  height: 100%;
}
.header .section .logo {
  float: left;
  height: 65px;
  vertical-align: middle;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.header .section .top-nav {
  float: left;
  padding-top: 20px;
}
.header .section .top-nav ul {
  display: flex;
  padding: 0;
}
.header .section .top-nav ul li .main-nav {
  display: block;
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
  color: #636060;
  transition: all 0.15s;
  text-align: center;
}
.header .section .top-nav ul li .main-nav:hover {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(188, 188, 188, 0.5);
  border-bottom: 2px solid plum;
}
.header .section .search {
  float: right;
  padding-top: 17px;
  width: 300px;
  height: 38px;
}
.header .section .search .searchbar {
  padding-left: 9px;
  border-radius: 20px;
  border: 0;
  background-color: #ececec;
}
.header .section .search .searchbar::placeholder {
  font-size: 16px;
}
.header .section .search .searchbtn .bi-search-heart-fill {
  color: rgba(82, 80, 80, 0.5);
}
.header .section .member {
  float: right;
  padding-top: 2px;
}
.header .section .member .bi-person-fill {
  font-size: 1.6rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart {
  float: right;
  position: relative;
}
.header .section .cart .bi-cart4 {
  font-size: 1.4rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart .num {
  position: absolute;
  top: 22%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff6600;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 700;
  color: #ececec;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 120px;
    height: 35.45454545px;
  }
  .bi-cart4 {
    padding: 0 5px 0 8px;
  }
  .num {
    left: 60%;
  }
  .cover {
    width: 296.8px;
    height: 420px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 576px) {
  .header {
    padding: 0 6%;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 180px;
    height: 53.18181818px;
  }
  .bi-cart4 {
    padding: 0 5px 0 5px;
  }
  .num {
    left: 60%;
  }
  .cover {
    width: 424px;
    height: 600px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 768px) {
  .logo {
    width: 220px;
  }
  .bi-cart4 {
    padding: 0 8px 0 8px;
  }
  .num {
    left: 60%;
  }
}
@media (min-width: 992px) {
  .top-nav,
  .search {
    display: block;
  }
  .bi-list {
    display: none;
  }
  .bi-cart4 {
    padding: 0 12px 0 12px;
  }
  .num {
    left: 56%;
  }
  .cover {
    width: 800px;
    height: 400px;
    background-image: url(../images/coverbn-800.png);
  }
}
.offcanvas .offcanvas-header .m-search {
  margin-right: 20px;
  width: 300px;
  height: 45px;
}
.offcanvas .offcanvas-header .m-search #m-searchbar {
  padding-left: 15px;
  border-radius: 40px;
  border: 0;
  width: 80%;
  height: 45px;
  background-color: #ececec;
}
.offcanvas .offcanvas-header .m-search #m-searchbar::placeholder {
  font-size: 20px;
}
.offcanvas .offcanvas-header .m-search .searchbtn .bi-search-heart-fill {
  font-size: 30px;
  color: rgba(82, 80, 80, 0.5);
}
.offcanvas .offcanvas-body {
  width: 300px;
  height: 500px;
}
.offcanvas .offcanvas-body ul {
  padding-left: 30px;
}
.offcanvas .offcanvas-body li {
  margin-right: 50px;
  color: #000;
  border-bottom: 1px solid #7a7a7a;
}
.offcanvas .offcanvas-body li a {
  color: #636060;
  text-decoration: none;
  line-height: 55px;
}
.carousel {
  margin-top: 65px;
}
@media (max-width: 576px) {
  .carousel .carousel-item {
    height: 200px;
  }
  .carousel .carousel-item h3,
  .carousel .carousel-item p {
    left: 10%;
  }
  .carousel .carousel-item h3 {
    top: 45%;
    font-size: 30px;
  }
  .carousel .carousel-item p {
    top: 64%;
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .carousel .carousel-item {
    height: 250px;
  }
  .carousel .carousel-item h3 {
    left: 20%;
    top: 45%;
    font-size: 40px;
  }
  .carousel .carousel-item p {
    left: 20%;
    top: 64%;
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-item {
    height: 400px;
  }
  .carousel .carousel-item h3 {
    top: 45%;
    font-size: 56px;
  }
  .carousel .carousel-item p {
    top: 64%;
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .carousel .carousel-item {
    height: 500px;
  }
  .carousel .carousel-item h3 {
    top: 45%;
    font-size: 70px;
  }
  .carousel .carousel-item p {
    top: 65%;
    font-size: 45px;
  }
}
.carousel .carousel-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel .carousel-item:hover h3,
.carousel .carousel-item:hover p {
  transform: scale(1.03);
}
.carousel .carousel-item h3,
.carousel .carousel-item p {
  position: absolute;
  color: #ececec;
  text-shadow: 9px 3px 15px #241b1b;
  transition: all linear 0.2s;
}
.carousel .carousel-item h3 {
  font-weight: bold;
}
.carousel .carousel-item:nth-child(1) {
  background-image: url(../images/banner/banner1.jpg);
}
.carousel .carousel-item:nth-child(2) {
  background-image: url(../images/banner/banner2.jpg);
}
.carousel .carousel-item:nth-child(3) {
  background-image: url(../images/banner/banner3.jpg);
}
.carousel .carousel-item:nth-child(4) {
  background-image: url(../images/banner/banner4.jpg);
}
.cover {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-shadow: 10px 10px 25px #000000db;
  z-index: 1200;
  transition: all ease-in-out 0.3s;
  outline: none;
}
.cover button {
  position: absolute;
  right: 7px;
  top: 7px;
  outline: none;
}
.cover button:focus {
  outline: none;
}
@keyframes floatboom {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}
.float {
  position: fixed;
  right: 0;
  bottom: 20%;
  transition: all 0.5s;
  animation: floatboom 1.5s 3s infinite;
  z-index: 500;
}
.float img {
  width: 80px;
}
@keyframes lightning {
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.remind-btn {
  display: none;
}
.recommand {
  padding-top: 30px;
  height: 400px;
  margin: 50px auto 10px auto;
}
.recommand .title {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}
.recommand .row {
  margin: 0;
  justify-content: space-between;
}
.recommand .row .left {
  box-sizing: border-box;
}
.recommand .row .left .discount {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all linear 0.3s;
}
.recommand .row .left .discount .today {
  height: 300px;
  background-image: url(../images/discount.png);
  background-size: cover;
  border-radius: 15px;
  padding-top: 35px;
}
.recommand .row .left .discount h4 {
  color: #fff;
  font-weight: bold;
}
.recommand .row .left .discount h5 {
  animation: lightning 1s infinite;
}
.recommand .row .left .discount .bi-lightning-fill {
  color: goldenrod;
  font-size: x-large;
}
.recommand .row .left .discount .timer #hours,
.recommand .row .left .discount .timer #minutes,
.recommand .row .left .discount .timer #seconds {
  display: inline-block;
  padding: 1%;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  background-color: goldenrod;
}
.recommand .row .left .discount .timer i {
  color: #fff;
  font-style: normal;
}
.recommand .row .left .discount .discount-prod {
  height: 90px;
  animation: lightning 1.2s infinite;
}
@media (max-width: 768px) {
  .recommand .row .left .discount h4,
  .recommand .row .left .discount #hours,
  .recommand .row .left .discount #minutes,
  .recommand .row .left .discount #seconds {
    font-size: 28px;
  }
  .recommand .row .left .discount .discount-prod {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .recommand .row .left .discount h4 {
    font-size: 25px;
  }
  .recommand .row .left .discount #hours,
  .recommand .row .left .discount #minutes,
  .recommand .row .left .discount #seconds {
    font-size: 22px;
  }
  .recommand .row .left .discount .discount-prod {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .recommand .row .left .discount h4,
  .recommand .row .left .discount #hours,
  .recommand .row .left .discount #minutes,
  .recommand .row .left .discount #seconds {
    font-size: 30px;
  }
  .recommand .row .left .discount .discount-prod {
    margin-top: 15px;
  }
}
.recommand .row .item {
  padding: 1px;
  height: 300px;
  margin: 0 0 15px 0 ;
}
.recommand .row .item .item-content {
  display: block;
  position: relative;
  text-align: center;
  height: 300px;
  width: 100%;
}
.recommand .row .item .item-content .pic {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.recommand .row .item .item-content .pic img {
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s;
}
.recommand .row .item .item-content .text {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  width: 100%;
  z-index: 10;
  font-size: 16px;
  text-align: center;
}
.recommand .row .item .item-content .text h4 {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 3px 6px #666;
}
.recommand .row .item .item-content .text p {
  margin: 5px auto;
  color: #fff;
}
.recommand .row .item .item-content .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(transparent, #0000004c);
  opacity: 0;
  transition: all 0.5s;
}
.recommand .row .item .item-content .mask:hover {
  opacity: 1;
}
.filter {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 0;
}
.filter .row .filter-item {
  padding: 0;
  margin: 0 5px;
  color: #4a4545;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #ddafc8c8;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 576px) {
  .filter .row .filter-item {
    width: 60px;
    line-height: 24px;
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .filter .row .filter-item {
    width: 100px;
    line-height: 32px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .filter .row .filter-item {
    width: 120px;
    line-height: 40px;
  }
}
@media (min-width: 992px) {
  .filter .row .filter-item {
    width: 150px;
    line-height: 50px;
    font-size: 24px;
  }
}
.filter .row .filter-item:active,
.filter .row .filter-item:hover {
  background: #690d3f;
  color: #fff;
}
.project {
  margin-top: 1.2vw;
  padding: 0;
  text-align: center;
}
.project h2 {
  font-weight: 700;
  margin: 0;
}
.project .row {
  justify-content: flex-start;
}
.project .row .box {
  padding: 0;
}
.project .row .box .goods {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 2px;
  border-radius: 10px;
  background-color: #ba297907;
  overflow: hidden;
  transition: all ease 0.5s;
}
@media (max-width: 576px) {
  .project .row .box .goods {
    height: 50vw;
  }
}
@media (min-width: 576px) {
  .project .row .box .goods {
    height: 300px;
  }
}
.project .row .box .goods:hover {
  box-shadow: 3px 3px 15px #ad9292;
}
.project .row .box .goods:hover .pop-up {
  bottom: 0;
}
.project .row .box .goods .pic {
  margin: 0;
  height: 36vw;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 576px) {
  .project .row .box .goods .pic {
    height: 36vw;
  }
}
@media (min-width: 576px) {
  .project .row .box .goods .pic {
    height: 200px;
  }
}
.project .row .box .goods .text {
  flex: 1;
  display: flex;
  align-items: center;
}
.project .row .box .goods .text h6 {
  margin: 0;
  width: 100%;
  white-space: nowrap;
}
.project .row .box .goods .text h6 span {
  margin: 0;
  width: 100%;
  color: #ba2979;
}
@media (max-width: 576px) {
  .project .row .box .goods .text h6 {
    font-size: 16px;
  }
  .project .row .box .goods .text span {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .project .row .box .goods .text h6 {
    font-size: 20px;
  }
  .project .row .box .goods .text span {
    font-size: 16px;
  }
}
.project .row .box .goods .pop-up {
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0px;
  background-color: #690d3f;
  text-align: center;
  transition: all ease 0.3s;
}
@media (max-width: 576px) {
  .project .row .box .goods .pop-up {
    height: 14vw;
    bottom: -14vw;
  }
}
@media (min-width: 576px) {
  .project .row .box .goods .pop-up {
    height: 100px;
    bottom: -100px;
  }
}
.project .row .box .goods .pop-up .more {
  width: 100%;
  color: #fff;
}
.project .row .box .goods .pop-up .more .pop-up-sign {
  color: #fff;
}
@media (max-width: 576px) {
  .project .row .box .goods .pop-up .more {
    font-size: 16px;
    line-height: 14vw;
  }
}
@media (min-width: 576px) {
  .project .row .box .goods .pop-up .more {
    font-size: 20px;
    line-height: 100px;
  }
}
.comments {
  margin-top: 60px;
  text-align: center;
}
.comments h2 {
  margin: 0 auto 15px auto;
  text-align: center;
}
.comments .user {
  margin: 2px 0;
  text-align: left;
}
.comments .user .avator,
.comments .user .username {
  color: #636060;
}
.comments #contents {
  margin: 0 auto;
  height: 150px;
  padding: 15px;
  transition: all 0.3s;
  border: 0.5px solid #c9aaaa9f;
  border-radius: 15px;
  background-color: #f5dddd2f;
  transition: all ease-in-out 0.3s;
}
.comments #contents:focus {
  border: 2px solid #c9aaaa9f;
  background-color: #fff;
  box-shadow: 3px 3px 10px #63606058;
  outline: none;
}
.comments #contents::placeholder {
  color: #c9aaaa9f;
}
.comments .words {
  margin: 3px;
  font-size: 12px;
  color: #c9aaaa9f;
  opacity: 0;
  transition: all 0.3s;
  text-align: right;
}
.comments .sent {
  display: block;
  margin: 5px auto;
  width: 120px;
  border: 0.5px solid #c9aaaae0;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.3s;
  color: #636060;
  outline: none;
}
.comments .sent:hover,
.comments .sent:focus {
  box-shadow: 3px 3px 3px #ad929249;
}
.comments-list .comments-item {
  text-align: left;
}
.comments-list .comments-item .info {
  margin: 10px auto 0px;
  min-height: 150px;
  height: auto;
  padding: 15px;
  transition: all 0.3s;
  border: 0.5px solid #c9aaaa9f;
  border-radius: 15px;
  background: linear-gradient(to top, transparent, rgba(215, 190, 190, 0.3) 70%, rgba(200, 151, 151, 0.3) 90%);
}
.comments-list .comments-item .info .user {
  display: flex;
}
.comments-list .comments-item .info .user .avator {
  font-size: 35px;
  margin: 3px;
}
.comments-list .comments-item .info .user p {
  margin: 0 5px;
}
.comments-list .comments-item .info .comments-text {
  font-size: 16px;
}
.comments-list .comments-item .info .comments-time {
  margin: 0;
  font-size: 12px;
}
footer {
  margin-top: 30px;
  border-top: 1px dotted #ad9292;
}
footer .foot {
  margin-top: 20px;
  padding: 15px 15px 0 15px;
}
footer .foot .row {
  justify-content: space-between;
}
footer .foot .row .logo_foot {
  padding: 0;
  margin-bottom: 5px;
  height: 220px;
  text-align: center;
}
footer .foot .row .logo_foot img {
  max-width: 180px;
  border-radius: 15px;
}
footer .foot .row .logo_foot .code {
  display: block;
  margin: 2px auto;
  width: 230px;
}
footer .foot .row .logo_foot .code img {
  max-width: 72px;
}
footer .foot .row .logo_foot .download {
  margin: 15px auto;
  padding: 5px;
  width: 100px;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #690d3f;
}
footer .foot .row .info {
  padding: 12px 10px 5px 10px;
  height: 180px;
  text-align: center;
}
footer .foot .row .info dt a {
  font-size: 20px;
  font-weight: 700;
}
footer .foot .row .info dt,
footer .foot .row .info dd {
  margin-bottom: 2px;
}
footer .foot .row .info a {
  color: #585347;
  font-size: 14px;
}
