* {
  margin: 0 ;
  padding: 0 ;
  color: #333;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}
html {
  height: 100%;
}
html body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* header */
.header {
  padding: 0 6%;
  height: 65px;
  background-color: #fff;
}
.header .section {
  flex-wrap: nowrap;
}
.header .section .list-s {
  float: left;
  padding: 0;
  line-height: 65px;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  outline: none !important;
}
.header .section .bi-list {
  color: #636060;
  font-size: 1.4rem;
  outline: none !important;
}
.header .section button {
  outline: none !important;
}
.header .section .logobtn {
  display: block;
  width: 100%;
  height: 100%;
}
.header .section .logo {
  float: left;
  height: 65px;
  vertical-align: middle;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.header .section .top-nav {
  float: left;
  padding-top: 20px;
}
.header .section .top-nav ul {
  display: flex;
  padding: 0;
}
.header .section .top-nav ul li .main-nav {
  display: block;
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
  color: #636060;
  transition: all 0.15s;
  text-align: center;
}
.header .section .top-nav ul li .main-nav:hover {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(188, 188, 188, 0.5);
  border-bottom: 2px solid plum;
}
.header .section .search {
  float: right;
  padding-top: 17px;
  width: 300px;
  height: 38px;
}
.header .section .search .searchbar {
  padding-left: 9px;
  border-radius: 20px;
  border: 0;
  background-color: #ececec;
}
.header .section .search .searchbar::placeholder {
  font-size: 16px;
}
.header .section .search .searchbtn .bi-search-heart-fill {
  color: rgba(82, 80, 80, 0.5);
}
.header .section .member {
  float: right;
  padding-top: 2px;
}
.header .section .member .bi-person-fill {
  font-size: 1.6rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart {
  float: right;
  position: relative;
}
.header .section .cart .bi-cart4 {
  font-size: 1.4rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart .num {
  position: absolute;
  top: 22%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff6600;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 700;
  color: #ececec;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 120px;
    height: 35.45454545px;
  }
  .bi-list {
    font-size: 1rem;
  }
  .bi-cart4 {
    font-size: 0.8rem;
    padding: 0 5px 0 8px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1rem;
  }
  .cover {
    width: 296.8px;
    height: 420px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 576px) {
  .header {
    padding: 0 6%;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 180px;
    height: 53.18181818px;
  }
  .bi-list {
    font-size: 1.4rem;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 5px 0 5px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
  .cover {
    width: 424px;
    height: 600px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 768px) {
  .logo {
    width: 220px;
  }
  .bi-list {
    font-size: 1.4rem;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 8px 0 8px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .top-nav,
  .search {
    display: block;
  }
  .bi-list {
    display: none;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 12px 0 12px;
  }
  .num {
    left: 56%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
  .cover {
    width: 800px;
    height: 400px;
    background-image: url(../images/coverbn-800.png);
  }
}
.offcanvas .offcanvas-header .m-search {
  margin-right: 20px;
  width: 300px;
  height: 45px;
}
.offcanvas .offcanvas-header .m-search #m-searchbar {
  padding-left: 15px;
  border-radius: 40px;
  border: 0;
  width: 80%;
  height: 45px;
  background-color: #ececec;
}
.offcanvas .offcanvas-header .m-search #m-searchbar::placeholder {
  font-size: 20px;
}
.offcanvas .offcanvas-header .m-search .searchbtn .bi-search-heart-fill {
  font-size: 30px;
  color: rgba(82, 80, 80, 0.5);
}
.offcanvas .offcanvas-body {
  width: 300px;
  height: 500px;
}
.offcanvas .offcanvas-body ul {
  padding-left: 30px;
}
.offcanvas .offcanvas-body li {
  margin-right: 50px;
  color: #000;
  border-bottom: 1px solid plum;
}
.offcanvas .offcanvas-body li a {
  color: #636060;
  text-decoration: none;
  line-height: 55px;
}
section {
  margin: 0;
  width: 100%;
}
section .row .login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  height: auto;
  border-radius: 5%;
  background-color: rgba(241, 240, 238, 0.65);
  line-height: 30px;
}
@media (max-width: 576px) {
  section .row .login {
    width: 90vw;
  }
}
@media (min-width: 576px) {
  section .row .login {
    width: 375px;
  }
}
section .row .login h3,
section .row .login h6 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
section .row .login .uname,
section .row .login .psw {
  padding: 0;
  display: block;
  margin: 0.5rem auto;
  height: 35px;
  width: 100%;
  border: 0;
  background-color: #f5e4e4;
  border-radius: 20px;
  padding-left: 10px;
  transition: all 0.5s;
}
section .row .login .uname:focus,
section .row .login .psw:focus {
  box-shadow: 3px 3px 6px #85727267;
}
section .row .login .remember,
section .row .login .check {
  margin: 0.5rem auto;
  display: inline;
  outline: auto;
  text-align: left;
  vertical-align: middle;
  color: #690d3f;
}
section .row .login .check,
section .row .login .forget,
section .row .login .clear,
section .row .login .get,
section .row .login .nbtn {
  margin: 0.5rem auto;
}
@media (max-width: 992px) {
  section .row .login .check,
  section .row .login .forget,
  section .row .login .clear,
  section .row .login .get,
  section .row .login .nbtn {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  section .row .login .check,
  section .row .login .forget,
  section .row .login .clear,
  section .row .login .get,
  section .row .login .nbtn {
    font-size: 14px;
  }
}
section .row .login .check:hover,
section .row .login .forget:hover,
section .row .login .clear:hover,
section .row .login .get:hover,
section .row .login .nbtn:hover {
  color: #a32f4c;
}
section .row .login .login-btn {
  display: block;
  padding: 0;
  margin: 0.5rem auto;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #5b333d;
  border-radius: 20px;
  background-color: transparent;
  background-color: #5b333d;
  color: #fff;
  font-size: 20px;
}
section .row .login .login-btn:hover {
  box-shadow: 2px 2px 5px #8f6969;
}
section .row .login .get {
  display: block;
}
section .row .login a,
section .row .login .bi-chevron-double-right {
  color: #690d3f;
  font-size: 8px;
}
section .row .login .test {
  margin: 0;
  color: #690d4083;
  font-size: 12px;
  line-height: 16px;
}
section .row .login .line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 280px;
  background-color: rgba(91, 51, 61, 0.324);
}
section .row .login .nbtn {
  display: block;
  margin-top: 0.5rem;
  line-height: 25px;
  color: #690d3f;
  transition: all 0.8s;
  animation: register 2s infinite;
}
section .row .login .nbtn:hover,
section .row .login .nbtn:hover i {
  font-weight: 700;
}
@keyframes register {
  10% {
    color: #690d3f;
  }
  50% {
    color: #ba2979;
  }
  80% {
    color: #8f6969;
  }
}
