* {
  margin: 0 ;
  padding: 0 ;
  color: #333;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}
/* header */
.header {
  padding: 0 6%;
  height: 65px;
  background-color: #fff;
}
.header .section {
  flex-wrap: nowrap;
}
.header .section .list-s {
  float: left;
  padding: 0;
  line-height: 65px;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  outline: none !important;
}
.header .section .bi-list {
  color: #636060;
  font-size: 1.4rem;
  outline: none !important;
}
.header .section button {
  outline: none !important;
}
.header .section .logobtn {
  display: block;
  width: 100%;
  height: 100%;
}
.header .section .logo {
  float: left;
  height: 65px;
  vertical-align: middle;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.header .section .top-nav {
  float: left;
  padding-top: 20px;
}
.header .section .top-nav ul {
  display: flex;
  padding: 0;
}
.header .section .top-nav ul li .main-nav {
  display: block;
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
  color: #636060;
  transition: all 0.15s;
  text-align: center;
}
.header .section .top-nav ul li .main-nav:hover {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(188, 188, 188, 0.5);
  border-bottom: 2px solid plum;
}
.header .section .search {
  float: right;
  padding-top: 17px;
  width: 300px;
  height: 38px;
}
.header .section .search .searchbar {
  padding-left: 9px;
  border-radius: 20px;
  border: 0;
  background-color: #ececec;
}
.header .section .search .searchbar::placeholder {
  font-size: 16px;
}
.header .section .search .searchbtn .bi-search-heart-fill {
  color: rgba(82, 80, 80, 0.5);
}
.header .section .member {
  float: right;
  padding-top: 2px;
}
.header .section .member .bi-person-fill {
  font-size: 1.6rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart {
  float: right;
  position: relative;
}
.header .section .cart .bi-cart4 {
  font-size: 1.4rem;
  line-height: 65px;
  color: #636060;
}
.header .section .cart .num {
  position: absolute;
  top: 22%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff6600;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 700;
  color: #ececec;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 120px;
    height: 35.45454545px;
  }
  .bi-list {
    font-size: 1rem;
  }
  .bi-cart4 {
    font-size: 0.8rem;
    padding: 0 5px 0 8px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1rem;
  }
  .cover {
    width: 296.8px;
    height: 420px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 576px) {
  .header {
    padding: 0 6%;
  }
  .top-nav,
  .search {
    display: none;
  }
  .logo {
    width: 180px;
    height: 53.18181818px;
  }
  .bi-list {
    font-size: 1.4rem;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 5px 0 5px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
  .cover {
    width: 424px;
    height: 600px;
    background-image: url(../images/coverbn-m-600.png);
  }
}
@media (min-width: 768px) {
  .logo {
    width: 220px;
  }
  .bi-list {
    font-size: 1.4rem;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 8px 0 8px;
  }
  .num {
    left: 60%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .top-nav,
  .search {
    display: block;
  }
  .bi-list {
    display: none;
  }
  .bi-cart4 {
    font-size: 1.2rem;
    padding: 0 12px 0 12px;
  }
  .num {
    left: 56%;
  }
  .bi-person-fill {
    font-size: 1.4rem;
  }
  .cover {
    width: 800px;
    height: 400px;
    background-image: url(../images/coverbn-800.png);
  }
}
.offcanvas .offcanvas-header .m-search {
  margin-right: 20px;
  width: 300px;
  height: 45px;
}
.offcanvas .offcanvas-header .m-search #m-searchbar {
  padding-left: 15px;
  border-radius: 40px;
  border: 0;
  width: 80%;
  height: 45px;
  background-color: #ececec;
}
.offcanvas .offcanvas-header .m-search #m-searchbar::placeholder {
  font-size: 20px;
}
.offcanvas .offcanvas-header .m-search .searchbtn .bi-search-heart-fill {
  font-size: 30px;
  color: rgba(82, 80, 80, 0.5);
}
.offcanvas .offcanvas-body {
  width: 300px;
  height: 500px;
}
.offcanvas .offcanvas-body ul {
  padding-left: 30px;
}
.offcanvas .offcanvas-body li {
  margin-right: 50px;
  color: #000;
  border-bottom: 1px solid plum;
}
.offcanvas .offcanvas-body li a {
  color: #636060;
  text-decoration: none;
  line-height: 55px;
}
.carousel {
  margin-top: 65px;
}
@media (max-width: 576px) {
  .carousel .carousel-item {
    height: 200px;
  }
  .carousel .carousel-item h3,
  .carousel .carousel-item p {
    left: 16%;
  }
  .carousel .carousel-item h3 {
    top: 50%;
    font-size: 30px;
  }
  .carousel .carousel-item p {
    top: 70%;
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .carousel .carousel-item {
    height: 250px;
  }
  .carousel .carousel-item h3 {
    left: 20%;
    top: 45%;
    font-size: 40px;
  }
  .carousel .carousel-item p {
    left: 20%;
    top: 64%;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-item {
    height: 400px;
  }
  .carousel .carousel-item h3 {
    top: 45%;
    font-size: 56px;
  }
  .carousel .carousel-item p {
    top: 64%;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .carousel .carousel-item {
    height: 500px;
  }
  .carousel .carousel-item h3 {
    top: 45%;
    font-size: 70px;
  }
  .carousel .carousel-item p {
    top: 65%;
    font-size: 30px;
  }
}
.carousel .carousel-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel .carousel-item h3,
.carousel .carousel-item p {
  position: absolute;
  color: #ececec;
  text-shadow: 9px 3px 15px #241b1b;
}
.carousel .carousel-item h3 {
  font-weight: bold;
}
.carousel .carousel-item p {
  display: block;
  padding: 0 10px;
  border: 1px solid #fff;
  border-radius: 45px;
  text-align: center;
  box-shadow: 5px 5px 15px #706a6a;
  transition: all ease 0.3s;
}
.carousel .carousel-item p:hover {
  background-color: #fff;
  color: #690d3f;
  text-shadow: none;
  border: 1px solid #690d3f;
}
.carousel .carousel-item:nth-child(1) {
  background-image: url(../images/banner/banner_prod1.jpg);
}
.carousel .carousel-item:nth-child(2) {
  background-image: url(../images/banner/banner_prod2.jpg);
}
.carousel .carousel-item:nth-child(3) {
  background-image: url(../images/banner/banner_prod3.jpg);
}
.project {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.project h2 {
  font-weight: 700;
  margin: 0;
}
.project .row {
  margin: 1vw auto 0 auto;
}
.project .row .select {
  padding: 0 0.5vw;
  margin-bottom: 1vw;
  position: relative;
  overflow: hidden;
  transition: all ease 0.8s;
}
.project .row .select:hover .cover {
  top: 0;
}
.project .row .select a {
  display: block;
  border-radius: 30px;
  border: 1px solid #ce7faa29;
  transition: all linear 0.5s;
  overflow: hidden;
}
.project .row .select a:hover {
  border: 1px solid #690d3f;
}
.project .row .select a .pic {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 576px) {
  .project .row .select a .pic {
    height: 36vw;
  }
}
@media (min-width: 576px) {
  .project .row .select a .pic {
    height: 25vw;
  }
}
@media (min-width: 768px) {
  .project .row .select a .pic {
    height: 25vw;
  }
}
@media (min-width: 992px) {
  .project .row .select a .pic {
    height: 15vw;
  }
}
.project .row .select a .text {
  padding: 1vw;
}
.project .row .select a .text h6 {
  font-size: 1rem;
  margin: 0;
}
.project .row .select a .text p {
  margin: 0;
  font-size: 15px;
}
.project .row .select a .cover {
  margin: 0;
  position: absolute;
  padding: 2% 2%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* 滑鼠移過來前先隱藏，先放到top上面 */
  left: 32px;
  background-color: darkorange;
  text-align: center;
  transition: all ease 0.5s;
}
@media (max-width: 576px) {
  .project .row .select a .cover {
    height: 40px;
    width: 40px;
    left: 26px;
    top: -40px;
  }
}
@media (min-width: 576px) {
  .project .row .select a .cover {
    height: 64px;
    width: 64px;
    left: 30px;
    top: -64px;
  }
}
@media (min-width: 768px) {
  .project .row .select a .cover {
    height: 70px;
    width: 70px;
    top: -70px;
  }
}
@media (min-width: 992px) {
  .project .row .select a .cover {
    height: 64px;
    width: 64px;
    left: 32px;
    top: -64px;
  }
}
.project .row .select a .cover h4 {
  padding: 2%;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 576px) {
  .project .row .select a .cover h4 {
    font-size: 0.6rem;
  }
}
@media (min-width: 576px) {
  .project .row .select a .cover h4 {
    font-size: 0.8rem;
  }
}
.project .row .select:nth-child(1) .goods-box .pic {
  background-image: url(../images/products/c4.jpg);
}
.project .row .select:nth-child(2) .goods-box .pic {
  background-image: url(../images/products/10.jpg);
}
.project .row .select:nth-child(3) .goods-box .pic {
  background-image: url(../images/products/o1.jpg);
}
.project .row .select:nth-child(4) .goods-box .pic {
  background-image: url(../images/products/c6.jpg);
}
.filter {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}
@media (max-width: 992px) {
  .filter {
    justify-content: center;
  }
}
.filter .pricetag {
  margin: 0;
  line-height: 55px;
}
@media (max-width: 992px) {
  .filter .pricetag {
    display: none;
  }
}
@media (min-width: 992px) {
  .filter .pricetag {
    display: block;
  }
}
.filter .price {
  margin: 0 0.5vw;
  background: #ffffff;
  color: #666;
  text-align: center;
  text-decoration: none;
  transition: all linear 0.3s;
}
.filter .price:active,
.filter .price:hover {
  background: linear-gradient(to right, #680d3fd3, #690d3f);
  color: #fff;
}
@media (max-width: 576px) {
  .filter .price {
    height: 25px;
    line-height: 25px;
    min-width: 80px;
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .filter .price {
    height: 30px;
    line-height: 30px;
    width: 100px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .filter .price {
    height: 45px;
    line-height: 45px;
    width: 120px;
    font-size: 20px;
  }
}
.all-products {
  background-color: #690d4016;
  padding-bottom: 2vw;
}
.all-products h2 {
  padding-top: 30px;
}
.all-products .goods-item {
  display: block;
}
.all-products .goods-item:hover {
  border: 2px solid #d4a6bb !important;
}
.all-products .goods-item .text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  text-align: left;
  background-color: #fff;
}
.all-products .goods-item .text .prod-info {
  margin: 3px;
}
.all-products .goods-item .text .prod-info #prod-name {
  font-size: 0.8rem;
}
.all-products .goods-item .text .prod-info span {
  color: #b2317a;
  font-size: 0.6rem;
}
.all-products .goods-item .text .buy-btn {
  font-size: 35px;
  align-self: center;
  color: #690d3f;
}
.all-products .goods-item .buy {
  margin: 0;
  position: absolute;
  bottom: -122px;
  right: 0;
  overflow: hidden;
  padding-top: 5px;
  height: 120px;
  width: 100%;
  line-height: 50px;
  border-top-right-radius: 25px;
  background-color: #6f1f40;
  color: #fff;
  text-align: center;
  transition: all ease 0.5s;
}
.all-products .goods-item .buy .num-tag {
  display: inline-block;
  margin: 0 5px;
}
.all-products .goods-item .buy i {
  font-style: normal;
  line-height: 50px;
  vertical-align: middle;
  color: #fff;
}
.all-products .goods-item .buy .num {
  margin: 0 15px;
  color: #fff;
}
.all-products .goods-item .buy .buy-now {
  border-radius: 20px;
  line-height: 40px;
  height: 40px;
  width: 95%;
  font-weight: 700;
  background-color: #efeded;
}
footer {
  margin-top: 30px;
}
footer .foot {
  margin-top: 20px;
  padding: 15px 15px 0 15px;
}
footer .foot .row {
  justify-content: space-between;
}
footer .foot .row .logo_foot {
  padding: 0;
  margin-bottom: 5px;
  height: 220px;
  text-align: center;
}
footer .foot .row .logo_foot img {
  max-width: 180px;
  border-radius: 15px;
}
footer .foot .row .logo_foot .code {
  display: block;
  margin: 2px auto;
  width: 230px;
}
footer .foot .row .logo_foot .code img {
  max-width: 72px;
}
footer .foot .row .logo_foot .download {
  margin: 15px auto;
  padding: 5px;
  width: 100px;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #690d3f;
}
footer .foot .row .info {
  padding: 12px 10px 5px 10px;
  height: 180px;
  text-align: center;
}
footer .foot .row .info dt a {
  font-size: 20px;
  font-weight: 700;
}
footer .foot .row .info dt,
footer .foot .row .info dd {
  margin-bottom: 2px;
}
footer .foot .row .info a {
  color: #585347;
  font-size: 14px;
}
